@font-face {
	font-family: 'Chewy', cursive;
	font-family: 'Sniglet', cursive;
	src: url('https://fonts.googleapis.com/css2?family=Chewy&family=Sniglet&display=swap');
}

body {
	margin: 0;
	font-family:
		'Chewy',
		cursive,
		'Sniglet',
		cursive,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Agrego */
	/* background-color: #313352; */
	background-color: #e4f2ff;
	/* background-color: #fdf6e3; ultimo que puse*/
	color: #333333;
	width: 100%;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* paleta definitiva {
	--fondo: #fdf6e3;
	--diferencia-con-fondo: #fce9c4;
	--texto: #333333;
	--hover: #555555;
	--color-primary: #ff6f00; (naranja)
	--color-secondary: #00796b; (verde)
	--color-accent: #e91e63; (rosa)
	--color-neutral-1: #ffffff;
	--color-neutral-2: #212121;
} */
