@font-face {
	font-family: 'Chewy', cursive;
	font-family: 'Sniglet', cursive;
	src: url('https://fonts.googleapis.com/css2?family=Chewy&family=Sniglet&display=swap');
}

body {
	margin: 0;
	font-family:
		'Chewy',
		cursive,
		'Sniglet',
		cursive,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* Agrego */
	background-color: #313352;
	color: #ff6f00;
	width: 100%;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
