.containerSelect {
	display: flex;
	max-width: 300px;
	align-items: center;
	position: relative;
	border: 1px solid #aaa;
	padding: 6px;
}

.containerButton {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.singleOption {
	background-color: transparent;
	position: absolute;
	display: flex;
	width: 140px;
	height: 20px;
	bottom: 20%;
	align-items: center;
	justify-content: center;
}

.select {
	position: absolute;
	width: 100%;
	top: 80%;
	left: 0;
	z-index: 10;
	display: none;
	padding: 6px;
	background-color: #c9e4fd;
}

.selectVisible {
	position: absolute;
	width: 100%;
	top: 80%;
	left: 0;
	z-index: 10;
	display: block;
	padding: 6px;
	background-color: #c9e4fd;
}

.containerSelect:hover .select {
	display: block;
}

.input {
	position: relative;
	background-color: transparent;
	border: none;
	z-index: 4;
	width: 95%;
	margin: 0 10px;
	padding: 5px 0;
}

.input:focus {
	outline: none;
}

.arrowIcon {
	position: relative;
	right: 5px;
	width: 10px;
	height: 10px;
	cursor: pointer;
	z-index: 3;
}

.closeImage {
	position: relative;
	right: 5px;
	width: 10px;
	height: 10px;
	cursor: pointer;
	z-index: 3;
}

.closeButton {
	background-color: transparent;
	border: none;
	margin-right: 6px;
}

.selectedOptions {
	display: flex;
	border-radius: 2px;
	width: fit-content;
	background-color: #329cff;
	align-items: center;
	margin: 2px;
}

.closeImageOption {
	position: relative;
	right: 5px;
	width: 10px;
	height: 10px;
	cursor: pointer;
	z-index: 3;
	margin-left: 5px;
}

.optionName {
	margin: 3px 5px;
}

.selectPlaceholder {
	color: #fff;
}

.sigleOption {
	width: 80%;
}
