.containerDetail {
	display: flex;
	gap: 5%;
	justify-content: space-around;
	align-items: center;
	margin: 5rem 5rem;
	padding: 5rem;
	background: linear-gradient(135deg, #43cea2, #185a9d);
	border-radius: 50px;
	border: 1px solid #353535;
	box-shadow: 11px 11px 1px rgba(0, 0, 0, 0.3);
	color: #fff;
}

.imageContainer {
	width: 40%;
}

.image {
	width: 100%;
	border-radius: 25px;
	box-shadow: 14px 14px 10px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease-in-out;
}

.image:hover {
	transform: scale(1.4);
}

.infoContainer {
	width: 40%;
	font-size: 1.15rem;
}

.name {
	font-size: 2rem;
}

.button {
	border: 1px solid #fff;
	color: #fff;
	margin-top: 1px;
	padding: 5px 10px;
	background-color: transparent;
	border-radius: 5px;
	cursor: pointer;
}

.temperamentsSelect {
	font-size: 0.9rem;
	color: #333333;
}

.button:hover {
	color: #333333;
	background-color: #e4f2ff;
}

.link {
	text-decoration: none;
	color: #fff;
}
