.containerHome {
	display: flex;
	flex-direction: column;
	margin: 3%;
}

.filters {
	height: 6rem;
	width: 100%;
	background-color: #c9e4fd;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0;
}

.temperamentsSelect {
	font-size: 0.9rem;
}

.originSelect {
	font-size: 0.9rem;
}

.orderSelect {
	font-size: 0.9rem;
}

.resetButton {
	margin-top: 1px;
	padding: 5px 10px;
	background-color: #92c4f3;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.resetButton:hover {
	background-color: #e4f2ff;
}
